l.drinking-state-container {
  background-color: white;
  border-radius: 20px;
  display: flex;
  width: 300px;
  height: 100px;
}

.drinking-count-container {
  margin: 0;
  background-color: green;
}

.healthy-drinking-rate-container {
  margin: 0;
  background-color: blue;
}

.drinking-count-container h1 {
  font-size: 15px;
  font-weight: normal;
}

.healthy-drinking-rate-container h1 {
  font-size: 15px;
  font-weight: normal;
}
